In [1]:
import pandas as pd
from tqdm import tqdm

In [2]:
df = pd.read_csv("amazon_product_data.tsv",sep="\t")

In [3]:
df = df[["asin","also_bought","also_viewed","buy_after_viewing","bought_together","price","sale_category","sale_rank"]]

In [4]:
df.head()

,asin,also_bought,also_viewed,buy_after_viewing,bought_together,price,sale_category,sale_rank
0,0000031909,"B002BZX8Z6,B00JHONN1S,0000031895,B00D2K1M3O,00...","B002BZX8Z6,B00JHONN1S,B008F0SU0Y,B00E1YRI4C,B0...",NaN,B002BZX8Z6,7.00,Toys & Games,201847
1,0000031852,"B00JHONN1S,B002BZX8Z6,B00D2K1M3O,0000031909,B0...","B002BZX8Z6,B00JHONN1S,B008F0SU0Y,B00D23MC6W,B0...",NaN,B002BZX8Z6,3.17,Toys & Games,211836
2,0000031887,"0000031852,0000031895,0000031909,B00D2K1M3O,B0...","B00E1YRI4C,B00D23MC6W,B00AFDOPDA,B00538F5OK,B0...",NaN,B00D23MC6W,6.79,Sports &amp; Outdoors,8547
3,0000191639,NaN,NaN,NaN,NaN,37.12,Toys & Games,612379
4,0000031895,"B002BZX8Z6,B00JHONN1S,0000031909,B008F0SU0Y,B0...","B002BZX8Z6,B00E1YRI4C,B00JHONN1S,B00D10CLVW,B0...",NaN,"B002BZX8Z6,B008F0SU0Y",2.99,Toys & Games,36575

In [5]:
f = open("triple.csv","w")

In [6]:
for index,row in tqdm(df.iterrows()):
    asin = row['asin']

    if type(row['also_bought']) is str:
        also_bought_list = row['also_bought'].split(",")
        for ele in also_bought_list:
            f.write(asin+"\t"+'also_bought'+'\t'+ele+"\n")

    if type(row['also_viewed']) is str:
        also_bought_list = row['also_viewed'].split(",")
        for ele in also_bought_list:
            f.write(asin+"\t"+'also_viewed'+'\t'+ele+"\n")

    if type(row['buy_after_viewing']) is str:
        also_bought_list = row['buy_after_viewing'].split(",")
        for ele in also_bought_list:
            f.write(asin+"\t"+'buy_after_viewing'+'\t'+ele+"\n")

    if type(row['bought_together']) is str:
        also_bought_list = row['bought_together'].split(",")
        for ele in also_bought_list:
            f.write(asin+"\t"+'bought_together'+'\t'+ele+"\n")

    if row['price']:
        f.write(asin+"\t"+'price'+'\t'+str(row['price'])+"\n")

    if row['sale_rank']:
        f.write(asin+"\t"+'sale_rank'+'\t'+str(row['sale_rank'])+"\n")

    if row['sale_category']:
        f.write(asin+"\t"+'sale_category'+'\t'+str(row['sale_category']) +"\n")

f.close()

1060350it [01:15, 14062.96it/s]